body {
    direction: rtl;
    background-image: url('../images/backgroundGreenHOME.png');
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}

#container {
    font-family: 'Segoe UI';
    line-height: 23px;
    font-size: 14px;
    background-image: url('../images/students.jpg');
    background-repeat: no-repeat;
    height: 564px;
    margin-top: -10px;
    margin-left: -8px;
    opacity: 0.7
}

#intro {
    width: 550px;
    height: 500px;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    margin-top: 35px;
    margin-right: 50px;
}


#telem {
    font-size: 50px;
  
}
#greenTelem {
    margin-bottom: -15px;
}
a{
    text-decoration:none;
    color:cadetblue;
}

#register {
    width: 1480px;
    height: 110px;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    margin-top: 590px;
    margin-right: 20px;
}


form {
    margin: 30px 55px 0px 0px;
}

h1 {
    color: cadetblue;
}

section {
    width: 500px;
    padding: 10px 25px;
}

#HITlogo {
    position: absolute;
    height: 100px;
    width: 200px;
    margin: -80px 1200px 0px 0px;
}

p {
    margin-bottom: 20px;
}
